.header {
  background-color: var(--color-black);
}

.header-h1 {
  font-family: var(--font-base);
  color: var(--color-golden);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  line-height: 117px;
  font-size: 90px;
}

header-img img {
  width: 80%;
}

@media screen and (max-width: 950px) {
  .header-h1 {
    font-size: 70px;
  }
}

@media screen and (max-width: 650px) {
  .header-h1 {
    font-size: 60px;
  }
}
